HOST=0.0.0.0
PORT=8002
VIDEO_AUTO_SHORTS=1
VIDEO_BACKGROUND_MUSIC_VOLUME=0.04
# VIDEO_BACKGROUND_MUSIC=assets/lofi-bed.mp3
# VIDEO_ENCODER=h264_nvenc
# VIDEO_X264_PRESET=veryfast
# VIDEO_X264_CRF=18
# VIDEO_NVENC_PRESET=p5
# VIDEO_NVENC_CQ=20
