TIKTOK_CLIENT_KEY=example_client_key
TIKTOK_CLIENT_SECRET=example_client_secret
TIKTOK_REDIRECT_URI=http://localhost:6583/callback/
TIKTOK_ACCESS_TOKEN=act.example12345Example12345Example
TIKTOK_REFRESH_TOKEN=rft.example12345Example12345Example
TIKTOK_OPEN_ID=
TIKTOK_TOKEN_SCOPE=user.info.basic,video.publish,video.upload
TIKTOK_PUBLISH_BACKEND=native
TIKTOK_DESCRIPTION_TEXT="3chan-style greentext story short."
TIKTOK_CTA_TEXT="Dont forget to Like and follow"
# TIKTOK_HASHTAGS=#shorts,#greentext,#storytime
TIKTOK_PRIVACY_LEVEL=SELF_ONLY
TIKTOK_DISABLE_COMMENT=0
TIKTOK_DISABLE_DUET=0
TIKTOK_DISABLE_STITCH=0
TIKTOK_AI_GENERATED=0
TIKTOK_UPLOAD_CHUNK_SIZE_MB=10
TIKTOK_POLL_SECONDS=5
TIKTOK_POLL_TIMEOUT_SECONDS=300
# BUFFER_API_KEY=example_buffer_api_key
# BUFFER_TIKTOK_CHANNEL_ID=
# BUFFER_TIKTOK_CHANNEL_NAME=4channarrates
# BUFFER_CLOUDFLARED_BIN=cloudflared
